.glow {
  /* font-size: 80px; */
  /* color: #fff; */
  /* text-align: center; */
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  /* animation: glow 1s ease-in-out infinite alternate; */

  animation-duration: 1s;
  animation-name: glow-animation;
  /* animation-fill-mode: forwards; */
  animation-iteration-count: infinite;
}

/* @-webkit-keyframes glow-animation { */
@keyframes glow-animation {
  from {
    color: #dc143c;
  }

  25% {
    color: #ff1493;
  }

  50% {
    color: #ffb6c1;
  }

  75% {
    color: #ff69b4;
  }

  to {
    color: #dc143c;
  }
}
